$yellow: #fce353;
$amber: #e8a633;
$green: #4c8f39;
$light-grey: #e2e1e1;
$grey: #c2c2c2;
$dark-grey: #a2a2a2;
$white: #fff;
$black: #000;
$red: #ed5365;
$light-blue: #a9c9de;
$off-white: #fffff3;
$very-light-blue: #f7fcfb;
$azure: #f0ffff;
$very-light-green: #f6fff4;
$sans-serif: courier;

.block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

body {
  font-family: Helvetica;

  div.grid {
    margin-left: 10px;
    margin-top: 10px;

    div.grid-item {
      margin-bottom: 10px;
    }

    div.config {
      border-top: 1px dotted $grey;
      border-bottom: 1px dotted $grey;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding-bottom: 10px;
      background-color: $off-white;

      h1.config-name {
        font-size: 20px;
        font-weight: bold;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        display: inline;
      }

      button.run-button, button.stop-button {
        margin: 10px 5px;
        padding: 2px 5px;
        font-size: 14px;
      }

      table.test-info {
        tbody td {
          padding: 2px 5px;
        }
      }

      div.report {
        padding: 5px;
      }

      div.tps {
        margin: 5px 0;
      }

      table.duration-stats {
        thead th {
          &.blank {
            background: none;
            background-color: none;
          }

          &.bold {
            font-weight: bold;
          }

          &.divide-right {
            border-right: 1px solid $light-grey;
          }

          span.arrows {
            font-weight: normal;
            color: $white;
          }

          width: 30px;
          padding: 5px 8px;
          text-align: center;
          font-weight: bold;
          background-color: $grey;
        }

        tbody td {
          padding: 5px 8px;
          text-align: right;

          &.low {
            color: $green;
          }

          &.medium {
            color: $amber;
          }

          &.high {
            color: $red;
          }
        }

        &.histogram {
          margin-top: 25px;
        }
      }

      table.histogram {
        thead th {
          font-weight: normal;
        }
      }
      table.results {
        margin: 8px 0;
        thead th {
          font-weight: bold;
          padding: 5px 8px;
        }
        tbody td {
          text-align: center;
          padding: 5px 5px;
        }
      }

      span.state {
        padding: 3px 5px;
        font-weight: bold;

        &.pending {
          background-color: $yellow;
          color: $black;
        }

        &.complete {
          background-color: $green;
          color: $white;
        }

        &.waiting {
          background-color: $amber;
          color: $black;
        }

        &.inactive {
          background-color: $grey;
          color: $black;
        }

        &.stopped {
          background-color: $red;
          color: $white;
        }
      }

      div.targets {
        display: none;
        background-color: $very-light-blue;
        margin-left: 40px;
      }

      a.targets {
        color: $grey;
        text-decoration: none;

        &.active {
          color: $dark-grey;
        }

        span.icon {
          font-family: monospace;
        }

        span.hidden {
          display: none;
        }
        span.wording {
          padding: 5px;
        }
      }

      div.target {
        padding: 10px 5px;
        margin-top: 8px;
        box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -moz-box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -o-box-shadow: inset 0px 0px 10px 0px #ABABAB;

        a {
          color: $light-blue;
        }

        table.target tbody td {
          padding: 2px 5px;
        }

        table.params {
          margin-top: 5px;
          thead th {
            padding: 5px 8px;
            font-weight: bold;
            text-align: center;
            background-color: $grey;
          }

          tbody td {
            padding: 5px 8px;
            font-family: $sans-serif;
            font-size: 14px;
            border-bottom: 1px solid $grey;

            &.name {
              border-right: 1px solid $grey;
            }
          }
        }
      }

      div.chart {
        padding: 10px 20px;
      }
    }
  }
}

td, th {
  &.code-4 {
    background-color: $amber;
  }

  &.code-5 {
    background-color: $red;
    color: $white;
  }

  &.code-2 {
    background-color: $green;
    color: $white;
  }

  &.code-3 {
    background-color: $green;
  }

  &.failure {
    background-color: $red;
  }
}

table.run-times {
  border: 1px dotted $grey;

  thead th {
    font-weight: bold;
    padding: 8px 12px;
    background-color: $very-light-green;
    text-align: left;
  }

  tbody td {
    font-family: $sans-serif;
    background-color: $very-light-green;
    text-align: right;
    padding: 8px 12px;
  }
}
