$yellow: #fce353;
$amber: #e8a633;
$green: #4c8f39;
$grey: #c2c2c2;
$white: #fff;
$black: #000;

body {
  font-family: Helvetica;

  div.grid {
    margin-left: 10px;
    margin-top: 10px;

    div.grid-item {
      margin-bottom: 10px;
    }

    div.config {
      border: 1px solid red;

      h1.config-name {
        font-size: 20px;
        font-weight: bold;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        display: inline;
      }


      input.run-button {
        margin: 10px 5px;
      }

      span.state {
        padding: 3px 3px;

        &.pending {
          background-color: $yellow;
          color: $black;
        }

        &.complete {
          background-color: $green;
          color: $white;
        }

        &.waiting {
          background-color: $amber;
          color: $black;
        }

        &.inactive {
          background-color: $grey;
          color: $black;
        }
      }

      div.target {
        border: 1px solid #999;

        table.results {
          thead th {
            font-weight: bold;
          }
          tbody td {
          }
        }
      }
    }
  }
}
